<!DOCTYPE html>
<html>
  <head>
    <title>RailsMisterCocktail</title>
    <%= csrf_meta_tags %>

    <!-- Add these line for detecting device width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="navbar-wagon">
    <!-- Logo -->
      <%= link_to cocktails_path do %>
        <%= cl_image_tag("fb39e66a2cf0d338d6859b84187b5b34_brbcbq", width: 50, height: 50, crop: :fill, radius: :max) %>
      <% end %>

    <!-- Right Navigation -->
      <div class="navbar-wagon-right hidden-xs hidden-sm">

        <!-- Search form -->
        <form action="" class="navbar-wagon-search">
          <input type="text" class="navbar-wagon-search-input" placeholder="Search something">
          <button type="submit" class="navbar-wagon-search-btn">
            <i class="fa fa-search"></i>
          </button>
        </form>

      </div>
    </div>
    <%= yield %>
  </body>
</html>
